@define-mixin columns $cols: 1, $gutter: 0px {
  width: calc((100% - $(gutter) * ($(cols) - 1)) / $(cols));
  &:not(:last-child) {
    margin-right: $(gutter);
  }
}

.row {
  @mixin clearfix;

  &__b-margin-bottom-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &--gutters > * {
      &:not(:last-child) {
        padding-right: 65px;
      }
    }

    &--gutters-large > * {
      &:not(:last-child) {
      }
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-6 {
      float: left;
      @mixin columns 2, 100px;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__b-margin-bottom-until-medium {
      margin-bottom: 0;
    }
  }
}
